#VeritweetWidget {
font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
	background-color:white;
	}

#VeritweetWidgetBottomButton{
display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: #4989C7;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 3px rgba(255,255,255,1.0);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	behavior: url(../css/border-radius.htc);
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-size: 12px;
	margin-top:10px;
		margin-right:10px;
	clear:both;
	font-color:#FFFFFF;
	float:right;

}

#VeritweetWidgetBottomButton a:link {
	font-color:#FFFFFF;
}
#VeritweetWidgetBottomButton a:visited{
	font-color:#FFFFFF;
}

#VeritweetWidgetBottomButton:hover {
	text-decoration: none;
	background: #2269A5;
}
#VeritweetWidgetBottomButton:active {
	position: relative;
	top: 4px;
}

	
	#VeritweetWidget a {
	text-decoration:none;
	color:#6E6E6E;
}
	#VeritweetWidget a:hover {
	text-decoration:none;
	color:#000000;	
}


#VeritweetWidget{
	font-size:14px;
	width:100%;
	height:100%;
	background: url(../img/widget-fons.png) #FFFFFF repeat-x;
}

#VeritweetWidgetHead{
	height:70px;
	background: url(../img/Widget-head.png) no-repeat;
}

#VeritweetChannelImage{
width:48px;
height:48px;
float:left;
margin-top: 5px;
margin-left: 5px;
margin-right: 8px;



}

#VeritweetChannelNameBlock{
margin: 10px 0 0 5px;
letter-spacing:-0.4px;
padding-top:15px;

}

#VeritweetChannelName{

}


#VeritweetChannelText{
margin-bottom: 20px;

}

#VeritweetChannelVerifiedText{

font-size:10px;
font-weight:bold;
padding-left: 12px;
padding-top:0px;
color: #FFFFFF;
letter-spacing:-0.1px;

}

#MsgContainer{

font-size:12px;
margin-bottom: 20px;
padding-right: 10px;
letter-spacing:-0.1px;

}
.details{
color:#2269A5;
margin-bottom:35px;
text-align:left;
}

.details a{
	color:#2269A5;


}


#VeritweetWidgetBottom{

background:#E7E7E7;
height: 50px;
margin-bottom: 10px;
}

#VeritweetWidgetBottom a{

color: #FFFFFF;

}

#VeritweetWidgetBottomLogo{
width: 100px;
margin: 8px 0 0 10px;
}




.VeritweetProfileImage{
float:left;
display:inline;
border: 3px #6E6E6E solid;
margin: 2px 7px 30px 23px;
}
